<ion-tabs color="mycolor" mode="md">
  <ion-tab [root]="tab1Root" tabTitle="HOME" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="FARMACO" tabIcon="add"></ion-tab>
  <ion-tab [root]="" tabTitle="CHIAMA CUP" tabIcon="call" (ionSelect)="chiamaCup()"></ion-tab>
</ion-tabs>
