
<ion-header>

  <ion-navbar>
    <ion-title>Dott.ssa Sara Rossi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="doc-img"></div>
  <div class="top-section">
    <div class="top-section-text">
      <div class="doctor">Dott.ssa Sara Rossi</div>
      <div class="type-of-doctor">Ginecologo</div>
    </div>
  </div>

  <div class="sedi flex-container" (click)="pushIcentri(0)">
    <ion-icon name="pin"></ion-icon>
    <div class="sedi-list">
      <div class="sedi-title">Sedi</div>
      <span>Via Fulda 14</span>
    </div>
  </div>

  <div class="doc-text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vestibulum sit amet enim eu diam posuere imperdiet. Sed id leo sit amet nulla porta suscipit.
      Aenean volutpat, quam a scelerisque luctus, purus leo consequat justo, et pharetra risus libero eu odio.
      Ut elementum dui suscipit pharetra facilisis. Duis faucibus ut orci ut tempor. Fusce ac dictum orci.
      Nunc imperdiet ex et diam pellentesque ultricies. Quisque scelerisque tincidunt sem, vitae elementum mi mollis at.
      Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis mollis auctor leo id blandit.
    </p>
  </div>

</ion-content>
