page-home {
  .home-title{
    text-align: center;
    color: #0e79ba;
    font-size: 2.4rem;
    font-weight: 700;
    box-sizing: border-box;
    padding: 2rem 0;
  }

  .last-item-container {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .sections-grid{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: space-between;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .section{
    width: calc(50% - 1.2rem);
    margin-bottom: 2.2rem;
    height: 21vh;
    background: #042750;
  }
  .top-right{
    border-radius: 14px;
    border-top-left-radius: 35px;
    border-top-right-radius: 0;
  }
  .top-left{
    border-radius: 14px;
    border-top-right-radius: 35px;
    border-top-left-radius: 0;
  }
  .middle{
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  }
  .bottom-right{
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 14px;
  }
  .bottom-left{
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 14px;
  }

  .section span{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.8);
  }


  .flex-center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
