<ion-content>
<div class="home-title">
  Ospedale Israelitico
</div>

<div class="content">
  <div class="sections-grid">
    <div (click)="pushLamiaterapia()" class="section top-left flex-center"><span>La mia terapia</span></div>
    <div (click)="pushInostriservizi()" class="section top-right flex-center"><span>I nostri servizi</span></div>
    <div (click)="pushSpecialisti()" class="section middle flex-center"><span>Gli specialisti</span></div>
    <div (click)="pushIcentri()" class="section middle flex-center"><span>I centri</span></div>
    <div class="last-item-container">
      <div (click)="pushNews()" class="section middle flex-center"><span>News</span></div>
    </div>
  </div>
</div>

</ion-content>
