page-icentri {
  #map_canvas {
    height: 40vh;
    margin-top: 4rem;

  }

  .centro{
    margin-top: 2.5rem;
    flex-wrap: nowrap;
  }

  ion-icon{
    font-size: 3.3rem;
    padding: 2rem;
    padding-left: 0;
    padding-top: 0;
    color: #042750;
  }
  .text{
    flex-grow: 1;
  }
  .titolo{
    font-size: 1.7rem;
    font-weight: 600;
  }
  .attivita{
    overflow-wrap: break-word;
  }
  .call{
    color: #b1c528;
    font-weight: 600;
    letter-spacing: 0.09rem;
    margin-top: 1rem;
    font-size: 1.6rem;
  }
  .call ion-icon{
    padding: 0;
    margin-right: 0.8rem;
    color: #b1c528 !important;
    font-size: 2.4rem;
    vertical-align: middle;
  }

}
