
<ion-header>

  <ion-navbar>
    <ion-title>I centri</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #content>

  <div class="content" >

  <div class="centro flex-container" (click)="showMarker(0)">
    <div class="icon">
      <ion-icon name="pin"></ion-icon>
    </div>
    <div class="text">
      <div class="titolo">Via Fulda, 14</div>
      <div class="attivita">Day Hospital Oncologico, Day Surgery, Assistenza Ospedaliera e Poliambulatorio</div>
      <div class="call" (click)="call('06655891')"><ion-icon name="call"></ion-icon> 06 655891</div>
    </div>
  </div>


  <div class="centro flex-container" (click)="showMarker(1)">
    <div class="icon">
      <ion-icon name="pin"></ion-icon>
    </div>
    <div class="text">
      <div class="titolo">Via Giuseppe Veronese, 53-59</div>
      <div class="attivita">Poliambulatori</div>
      <div class="call" (click)="call('06602911')"><ion-icon name="call"></ion-icon> 06 602911</div>
    </div>
  </div>

  <div class="centro flex-container" (click)="showMarker(2)">
    <div class="icon">
      <ion-icon name="pin"></ion-icon>
    </div>
    <div class="text">
      <div class="titolo">P.zza San Bartolomeo all'isola, 21</div>
      <div class="attivita">Poliambulatori</div>
      <div class="call" (click)="call('06602911')"><ion-icon name="call"></ion-icon> 06 602911</div>
    </div>
  </div>


  <div id="map_canvas">
    <!--<button ion-button (click)="onButtonClick($event)">Start demo</button>-->
  </div>


  </div>

</ion-content>
