// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.tab-button{
  background: #042750;
  border-radius: 100em;
  margin: 1rem 0;
}
.tab-button:first-of-type{
  margin-right: -13rem;
}
.tab-button:last-of-type{
  margin-left: -13rem;
}
.tabs-md .tab-button{
  min-height: 6.6rem;
  max-width: 6.6rem;
}

.tabs-md .tab-button-text{
  font-size: 1rem;
}

.tabbar{
  justify-content: space-around;
}

.tab-button .tab-button-icon, .tab-button-text{
  color: #fff;
}

.tabs-md-mycolor .tab-button:hover:not(.disable-hover),
.tabs-md-mycolor .tab-button[aria-selected=true],
.tabs-md-mycolor .tab-button[aria-selected=true] .tab-button-icon{
  background: #b1c528;
  color: #fff;
}

.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
  height: 0;
}

.flex-container{
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: space-between;
  align-content: space-between;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}



/* NORMAL CSS */
.content{
  box-sizing: border-box;
  padding: 0 2.2rem;
}



.toolbar-title-md,
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
  color: #4172b0;
}

/* Specialisti */
.top-section{
  background: #4172b0;
  margin-top: -5rem;
  padding-top: 5rem;
}
.top-section-text{
  text-align: center;
  color: #fff;
  padding: 1rem 0;
  font-size: 1.5rem;
}
.top-section-text .doctor{
}
.top-section-text .type-of-doctor{
  text-transform: uppercase;
}

.doc-img{
  width: 10rem;
  height: 10rem;
  background: #f7f7f7;
  border-radius: 100rem;
  margin: 0 auto;
  margin-top: 3rem;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  z-index: 3;
}
.sedi{
  background: #eeeeee;
  flex-grow: 1;

}
.sedi ion-icon{
  opacity: .6;
  font-size: 3rem;
  padding: 1.4rem;
}
.sedi-list{
  padding: 1.4rem;
  padding-left: 0;
  flex-grow: 1;

}
.sedi-title{
  text-transform: uppercase;
  font-weight: 600;
  opacity: .75;
}

.doc-text{
  padding: 2.8rem;
  padding-top: 1.4rem;
  box-sizing: border-box;
}



/* INPUTS, DATE AND TIME */
.item-datetime{
  margin: 13px 8px 13px 0 !important;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md{
  color: #488aff;
}

/*
.label-md{
  margin: 7px 8px 13px 0;
}
.input-wrapper{
  margin-top: -0.9rem;
  margin-bottom: 0.4rem;
}*/

form{
  margin-top: 1.6rem ;
}
/*
.alert-md .alert-head{
  padding: 24px 24px 0 !important;
}*/
