
<ion-header>

  <ion-navbar>
    <ion-title>Specialisti</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-searchbar (ionInput)="getItems($event)" mode="md"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="pushSpecialistaPage()">
      <ion-avatar item-start>
        <img src="img/avatar-cher.png">
      </ion-avatar>
      <h2>{{ item }}</h2>
      <p>Dermatologo</p>
    </ion-item>
  </ion-list>

</ion-content>
