page-lamiaterapia {

  .item-md{
    padding-left: 0;
  }

  form button{
    margin-top: 2rem !important;
  }

  .alert-md .alert-head{
    padding: 24px 24px 14px !important;
  }

  .items{
    padding: 3rem 2.6rem;
    box-sizing: border-box;
    background: #042750;
    color: #fff;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .aggiungi-nuovo{
    vertical-align: middle;
    font-weight: 500;
    opacity: .7;
  }

  ion-icon{
    font-size: 3.3rem;
    vertical-align: middle;
  }

  .toggle-ios.toggle-checked .toggle-icon{
    background: #b1c528;
  }

  .inline{
    display: inline-block;
    vertical-align: middle;
  }
  .button-md{
    background: transparent;
    box-shadow: none;
    padding-right: 0;
    height: auto;
    width: 2.3rem;
  }

}
