
<ion-header>

  <ion-navbar>
    <ion-title>La mia terapia</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="">
    <div class="items flex-container">
      <span class="aggiungi-nuovo">Aggiungi nuovo</span>
      <ion-icon name="add-circle" mode="md"></ion-icon>
    </div>

    <div class="items flex-container">
      <span class="aggiungi-nuovo">Aggiungi nuovo</span>
      <div>
        <div class="inline"><ion-toggle mode="ios" checked="true"></ion-toggle></div>
        <div class="inline">
          <button mode="md" ion-button icon-only (click)="presentPopover($event)">
            <ion-icon name="more"></ion-icon>
          </button>
        </div>
      </div>

    </div>
  </div>









  <form (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label color="primary" floating>Title</ion-label>
      <ion-input type="text" [(ngModel)]="form.title" name="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Field</ion-label>
      <ion-input type="text" [(ngModel)]="form.field" name="field"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Data (GG/MM/AAAA)</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="form.date" name="date" cancelText="Annulla" doneText="Ok" allowOldDates="false"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Ora</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="form.time" name="time" cancelText="Annulla" doneText="Ok"></ion-datetime>
    </ion-item>

    <button ion-button type="submit" block>Submit</button>
  </form>
</ion-content>
