
<ion-header>

  <ion-navbar>
    <ion-title>I nostri servizi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngFor="let question of questionsShowing">
    <div class="question q-{{question.id}}">
      <div class="actual-question">{{question.question}}</div>
      <div class="answer-buttons">
        <button ion-button [disabled]="question.noB" (click)="question.yesB=true; addNewQuestion();">No</button>
        <button ion-button [disabled]="question.yesB" (click)="question.noB=true; addNewQuestion();">Si</button>
      </div>
    </div>
  </div>

  <div class="question">
    <div class="actual-question">Seleziona il dottore</div>
    <div class="answer-buttons">
      <button ion-button (click)="selezionaDottore()">{{testoSelezionaDottore}}</button>
    </div>
  </div>

  <br /><br /><br /><button ion-button (click)="call()">Chiama</button>

</ion-content>
